/* GitHub */
.octicon-gratipay {
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/gratipay16.png');
    -webkit-filter: grayscale(100%);
    height: 16px;
    width: 16px;
    vertical-align: text-top;
}

/* BitBucket */
#repo-header .icon.gratipay {
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/gratipay16.png');
    -webkit-filter: grayscale(100%);
    opacity: .8;
}

