/* GitHub */
.octicon-gittip {
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/gittip16.png');
    -webkit-filter: grayscale(100%);
    display: inline-block;
    height: 16px;
    width: 16px;
}

/* BitBucket */
#repo-header .icon.gittip {
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/gittip16.png');
    -webkit-filter: grayscale(100%);
    opacity: .8;
}

