/* GitHub */
span.mini-icon-gittip {
	background-image: url('chrome-extension://__MSG_@@extension_id__/icons/gittip16.png');
	margin-top: 3px;
}

/* BitBucket */
#repo-header .icon.gittip {
	background-image: url('chrome-extension://__MSG_@@extension_id__/icons/gittip16.png');
}

